<div class="container-fluid bg-light" id="hey" *ngIf="!showLogin">
    <div class="row justify-content-center">
        <div class="col-xs-6 col-md-6 col-xl-3">

            <form [formGroup]="harsha" class="frm text-center">
                <div>
                    <div class="form-group ">
                        <label class="Form-label">
                            <h5>Name</h5>
                        </label>
                        <input type="text" class="form-control" formControlName="name" name="name">
                    </div>

                </div>
                <div>
                    <div class="form-group">
                        <label class="Form-label">
                            <h5>Password</h5>
                        </label>
                        <input type="password" class="form-control" formControlName="password" name="password">
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label class="Form-label">
                            <h5>Email Id</h5>
                        </label>
                        <input type="email" class="form-control" formControlName="email" name="email">
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-info mt-3" (click)="userSign(harsha.value)">Submit</button>
                </div>
                <div class="har d-flex justify-content-between ">
                    <a class="card-link cur mt-3 " (click)="openLogin()">already have an account?</a>
                </div>

            </form>
        </div>
    </div>
</div>


<div class="container-fluid bg-light" id="hi" *ngIf="showLogin">
    <div class="row justify-content-center">
        <div class="col-xs-6 col-md-6 col-xl-3">

            <form class="form2" [formGroup]="harshu">

                <h3 class="card-title  text-center mt-2">SignIn here</h3>
                <hr>
                <div class="Form-Group">
                    <label class="Form-label">Email</label>
                    <input type="email" name="email" class="form-control" formControlName="email"
                        placeholder="enter email">
                    <small class="text-danger" *ngIf="!harshu.get('email')?.valid && harshu.get('email')?.touched">Enter
                        Your Valid
                        Email</small>

                </div>
                <div class="Form-Group">
                    <label class="Form-label">Password</label>
                    <input type="password" name="password" class="form-control" formControlName="password"
                        placeholder="enter password">
                    <small class="text-danger" *ngIf="!harshu.get('password')?.valid && harshu.get('password')?.touched">Enter
                        Your
                        Password</small>
                </div>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-dark form-control mt-2"
                        (click)="loginSeller()">Sign-in</button>
                </div>
                <div class="har d-flex justify-content-between ">
                    <a class="card-link mt-3" [routerLink]="['/']">Forget-password-?</a>
                    <a class="card-link cur mt-3"  (click)="openSignup()">sign-up</a>
                </div>
            </form>
        </div>
    </div>
</div>
















<!--   
  <div class="card  m-4" *ngIf="!showLogin">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card seller" >
                    <div class="sign-up ">
                        <h3 class="my-2" style="text-align: center; font-weight: bold; text-decoration: underline; ">
                            Sign Up</h3>
                        <form [formGroup]="harsha" class="frm text-center">
                            <div   >
                                <div class="form-group ">
                                    <label class="Form-label">
                                        <h5>Name</h5>
                                    </label>
                                    <input type="text" class="form-control" formControlName="firstName"
                                        name="firstName">
                                </div>
                                
                            </div>
                            <div >
                                <div class="form-group">
                                    <label class="Form-label">
                                        <h5>Password</h5>
                                    </label>
                                    <input type="password" class="form-control" formControlName="password" name="password">
                                </div>
                            </div>
                            <div >
                                <div class="form-group">
                                    <label class="Form-label">
                                        <h5>Email Id</h5>
                                    </label>
                                    <input type="email" class="form-control" formControlName="email" name="email">
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-info mt-3" (click)="userSign(harsha.value)">Submit</button>
                            </div>
                            <div class="har d-flex justify-content-between ">
                                <a class="card-link  mt-3 " (click)="openLogin()">already have an account?</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
<img src="https://cdn.pixabay.com/photo/2017/03/13/17/26/ecommerce-2140603__340.jpg" class="image-fluid" style="width: 42rem; height: 400px;" alt="">
            </div>
        </div>
    </div>
</div>  -->